
<div class="container col-md-offset-3">
    <a href="/Register" class="btn btn-info">Register</a>
    <form method="post" action="/Home/Login">
        <input type="text" class="form-control" name="email" placeholder="Email" />
        <br />
        <input type="password" class="form-control" name="password" placeholder="Password" />
        <br />
        <button class="btn btn-primary">Login</button>
    </form>
</div>